body {
    font-size: 12pt;
    font-family:'Arial';
    margin: 60px auto;
    width: 70%;
    background-color: dark grey;
    color: white
}
nav ul, footer ul {
    font-family:'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:active {
    background-color: yellow;
}
a:hover {
    background-color: white;
    text-decoration: underline;
}
a:link, visited {
    background-color: none;
}
h1 {
    font-size: 3em;
    font-family:'Arial';
}
h2 {
    font-size: 2em;
    font-family:'Arial';
}
h3 {
    font-size: 1em;
    font-family:'Arial';
}
p, li {
    font-size: 1.5em;
    font-family:'Arial';
    line-height: 1.4em;
    color: white;
}
footer {
    font-family:'Arial';
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    font-family:'Arial';
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    font-family:'Arial';
    list-style: none;
}
table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    height: 50px;
}

* {
    box-sizing: border-box;
}

/* two equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
}
/* clear floats after columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    border: 1px solid black;
}
