<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/portfolio/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/portfolio">Home</a></li>
		        	<li><a href="/portfolio/about">About</a></li>
	        		<li><a href="/portfolio/links">Links</a></li>
	        		<li><a href="/portfolio/archive/">Archive</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br>
			<footer>
	    		<ul>
	        		<li>©2018 Kyle Jeung</li>
				</ul>
			</footer>
		</body>
</html>
